<p id="notice"><%= notice %></p>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
<link rel="stylesheet" href="/assets/responsive.css" media="screen and (max-width: 900px)" charset="utf-8">

</head>
<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
<p>

</p>


<style>

</style>
</head>
<body>

<div id='masonry' >

  <div><a href="assets/1.jpg" data-lightbox="1" data-title="My caption"><img class="one-third item" src="/assets/1"/></a></div>
  <div><img class="one-third item" src="/assets/2"  /></div>
  <div><img class="one-third item" src="/assets/4"/></div>
  <div><img class="one-third item " src="/assets/3"/></div>
  <div><img class="one-third item" src="/assets/1"/></div>
  <div><img class="one-third item"src="/assets/6"/></div>
  <div><img class="one-third item" src="/assets/2"/></div>
  <div><img class="one-third item" src="/assets/6"/></div>
  <div><img class="one-third item" src="/assets/4"/></div>
  <div><img class="one-third item"src="/assets/5"/></div>
  <div><img class="one-third item"src="/assets/1"/></div>
  <div><img class="one-third item" src="/assets/4" /></div>
  <div><img class="one-third item" src="/assets/3" /></div>
  <div><img class="one-third item" src="/assets/5" /></div>
  <div><img class="one-third item" src="/assets/6" /></div>
  <div><img class="one-third item" src="/assets/1" /></div>
  <div><img class="one-third item" src="/assets/1" /></div>
  <div><img class="one-third item" src="/assets/3" /></div>
  <div><img class="one-third item" src="/assets/5" /></div>
  <!-- <div class="item large"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item large"></div>
  <div class="item medium"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item large"></div>
  <div class="item large"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div> -->


</div>
<script>
$(window).load(function(){
  var container = document.querySelector('#masonry');
  var msnry = new Masonry( container, {
    columnWidth: '.item',
    itemSelector: '.item'
  });
});
</script>
<script src="/assets/lightbox.js"></script>
</body>
