<p id="notice"><%= notice %></p>
<head>
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.js"></script>
  <link rel="stylesheet" href="/assets/responsive.css" media="screen and (max-width: 900px)" title="no title" charset="utf-8">
</head>
<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
<p>

</p>


<style>

</style>
</head>
<body>

<div class="container" id='masonry' >

  <div ><img class="one-third item" src="/assets/1"  onclick="showImage(/assets/, '1.jpg');"/></div>
  <div ><img class="one-third one-third-second item thumbnail" src="/assets/2" onclick="showImage(/assets/2, '2');" /></div>
  <div ><img class="one-third one-third-last item" src="/assets/4" onclick="showImage(/assets/1, '1');"/></div>
  <div><img class="one-third item medium" src="/assets/3" onclick="showImage(this.src, '3');"/></div>
  <div><img class="one-third one-third-second item" src="/assets/1" onclick="showImage(this.src, '9');"/></div>
  <div><img class="one-third one-third-last item medium"src="/assets/6" onclick="showImage(this.src, '1');"/></div>
  <div><img class="one-third item large" src="/assets/2" onclick="showImage(this.src, '2');"/></div>
  <div><img class="one-third one-third-second item" src="/assets/6" onclick="showImage(this.src, '6');"/></div>
  <div><img class="one-third one-third-last item item medium" src="/assets/4" onclick="showImage(this.src, '7');"/></div>
  <div><img class="one-third item medium"src="/assets/5" onclick="showImage(this.src, '8');"/></div>
  <div><img class="one-third one-third-second item"src="/assets/1" onclick="showImage(this.src, '1');"/></div>
  <div><img class="one-third one-third-last "src="/assets/4" onclick="showImage(this.src, '2');"/></div>
  <div><img class="one-third item medium" src="/assets/3" /></div>
  <div><img class="one-third one-third-second item medium" src="/assets/5" /></div>
  <div><img class="one-third one-third-last item" src="/assets/6" /></div>
  <div><img class=" one-third item thumbnail" src="/assets/1" /></div>
  <div><img class=" one-third one-third-second item" src="/assets/1" /></div>
  <div><img class="one-third one-third-last item" src="/assets/3" /></div>
  <div><img class=" one-third item thumbnail" src="/assets/5" /></div>
  <!-- <div class="item large"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item large"></div>
  <div class="item medium"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item"></div>
  <div class="item thumbnail"></div>
  <div class="item large"></div>
  <div class="item large"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item medium"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div> -->


</div>
<script>
$(window).load(function(){
var container = document.querySelector('#masonry');
var msnry = new Masonry( container, {
columnWidth: 50,
itemSelector: '.item'
});
});
</script>
