<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/custom.css.scss" >
<script src="/assets/bootstrap.js"></script>
<link rel="stylesheet" href="/assets/application.css" >
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/bootstrap.css" >
<script src="/assets/jquery.swipebox.js"></script>
<link rel="stylesheet" href="/assets/swipebox.css">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="/assets/responsive.css" media="screen and (max-width: 900px)" charset="utf-8">

  <title>Portfolio</title>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet'>
</head>
<body>
<div class="site-container">
  <div class="site-pusher">
    <header class="header">
      <a href="#" class="header__icon" id="header__icon"></a>
      <a href="/" class="header__logo">Logo</a>
      <nav class="menu">
        <a class="hidden-sm hidden-md hidden-lg nav-links-top" href="/">IMAFRE.CO</a>
        <a class="nav-links" href="/about">About</a>
        <a class="nav-links" href="/videos">Videos</a>
        <a class="nav-links" href="/images">Images</a>
      </nav>
    </header>
    <div class="site-content">
      <div class="container">
        <% if logged_in? %>
        <div class="">
          You are logged in
        </div>
         <%= link_to "Log out", logout_path, method: "delete" %>
        <% else %>
        <div class="">
          not logged in
        </div>
        <%= link_to "Log in", login_path %>
        <% end %>

      <%= yield %>
      <%= debug(params) if Rails.env.development? %>

      </div> <!-- END container -->
    </div> <!-- END site-content -->
    <div class="site-cache" id="site-cache"></div>
  </div> <!-- END site-pusher -->
</div> <!-- END site-container -->

<script>
$(document).ready(function () {

	(function($) {

		$('#header__icon').click(function(e){
			e.preventDefault();
			$('body').toggleClass('with--sidebar');
		});

    $('#site-cache').click(function(e){
      $('body').removeClass('with--sidebar');
    });

	})(jQuery);
});

</script>
</body>
</html>
